{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Nice to meet you!</h1>
  <p>Welcome to my personal website.</p>
  <p><a href="{% url 'contact_create' %}" class="btn btn-lg btn-primary">Contact me</a> <a href="https://www.linkedin.com/in/kldesimone" class="btn btn-lg btn-primary">LinkedIn</a></p>
</div>
<div class="info">
  <h3>Learn more about me here:</h3>
  <p>I am a 3+1 student at Quinnipiac Univeristy majoring in Computer Information Systems. I will be graduating with my bachelor's degree in May 2017 and earning my master's degree in May 2018. I am planning on spending my next semester in Los Angeles and am actively looking for an internship for Spring 2016 in LA.</p>
  <p> I have taken a variety of classes expanding my knowledge on the subject of computer information systems including: e-business systems, systems analysis and design, networking and data communication, enterprise systems, and web development.</p>
  <p>If you are interested in contacting me, please use the contact form above or check out my LinkedIn profile!</p>
{% endblock %}